@font-face {
  font-family: 'raleway';
  src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'ebgaramond';
  src: url(fonts/EBGaramond-Regular.ttf);
}

* {
  box-sizing: border-box;
  border: 1px #888 solid;
  margin: 0;
}

html, body {
  background: url(images/mountains-purple.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.menuButtonDiv {
  padding: 0.5em;
}

@keyframes revealNavbar {
  from {max-height: 0px; background-color: rgba(255, 255, 255, 0.75)}
  to {max-height: 600px; background-color: rgba(255, 255, 255, 0.25)}
}
.revealedNavbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  max-height: 600px;
  overflow-y: hidden;
  background-color: rgba(255, 255, 255, 0.25);
  animation-name: revealNavbar;
  animation-duration: 0.75s;
}
.revealedNavbar a {
  font-family: 'raleway';
  margin: 0.75em;
}

.hiddenNavbar {
  display: none;
}

.mainHomeDiv {
  display: flex;
  flex-direction: column;
}

.homeScriptureDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.homeScriptureQuote {
  font-family: 'ebgaramond';
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em;
  max-width: 90vw;
}

.aboutMainBlurbDiv {
  padding: 1em;
}

.aboutBlurbDiv {
  display: flex;
  flex-direction: column;
}

.aboutSubBlurbDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.heightPercent100 {
  height: 100%;
}

.vh100 {
  height: 100vh;
}

.vh90 {
  height: 90vh;
}

.vh80 {
  height: 80vh;
}

.vh70 {
  height: 70vh;
}

.vh60 {
  height: 60vh;
}

.vh40 {
  height: 40vh;
}

.vh33 {
  height: 33vh;
}

.vh25 {
  height: 25vh;
}

.vh20 {
  height: 20vh;
}

.vh10 {
  height: 10vh;
}

.minHeightvh100 {
  min-height: 100vh;
}

.vw90 {
  width: 90vw;
}

.vw80 {
  width: 80vw;
}

.vw70 {
  width: 70vw;
}

.vw60 {
  width: 60vw;
}

.vw40 {
  width: 40vw;
}

.vw33 {
  width: 33vw;
}

.vw25 {
  width: 25vw;
}

.displayFlex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.flex1 {
  display: flex;
  flex: 1;
}

.flex2 {
  display: flex;
  flex: 2;
}

.flex3 {
  display: flex;
  flex: 3;
}

.flexAllCenter {
  justify-content: center;
  align-items: center;
}

.flexAlignStart {
  align-items: flex-start;
}

.flexAlignCenter {
  align-items: center;
}

.flexAlignEnd {
  align-items: flex-end;
}

.flexJustifyCenter {
  justify-content: center;
}

.padding1em {
  padding: 1em;
}

.paddingHalfem {
  padding: 0.5em;
}

.topMargin1em {
  margin-top: 1em;
}

.bottomMargin1em {
  margin-bottom: 1em;
}

.raleway {
  font-family: 'raleway';
}

.ebgaramond {
  font-family: 'ebgaramond';
}

.textOpacityPadding {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em;
}

.font100 {
  font-size: 100px;
}

.font30 {
  font-size: 30px;
}

.font24 {
  font-size: 24px;
}

.font20 {
  font-size: 20px;
}

.font16 {
  font-size: 16px;
}

.font12 {
  font-size: 12px;
}

.centerText {
  text-align: center;
}

.blackText {
  color: #000;
}

.transparentWhiteBackground {
  background-color: rgba(255, 255, 255, 0.75)
}

.screenshot {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.extraScreenshot {
  height: auto;
  width: 100%;
  max-width: 100%;
  order: -1;
}

.supportForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.supportFormInput {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.5em;
  font-family: 'raleway';
  margin-bottom: 1em;
  width: 90vw;
}

.supportFormButton {
  font-size: 20px;
  font-family: 'raleway';
  padding: 0.5em;
  border-radius: 0.25em;
  background-color: #fff;
  margin-bottom: 1em;
}

.getInvolvedButton {
  font-size: 20px;
  font-family: 'raleway';
  padding: 0.5em;
  border-radius: 0.25em;
  background-color: #fff;
  color: #000;
  margin-bottom: 2em;
}

.getInvolvedDivider {
  width: 50vw;
}

.stripeForm {
  background-color: #fff;
}

.radioButtonDiv {
  display: flex;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'raleway';
  font-size: 16px;
  color: #000;
  padding: 0.5em;
}

input[type="radio"] + label span {
  display: flex;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: #ccc;
  margin-right: 0.5em;
}

input[type="radio"]:checked + label span {
  display: flex;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: #0c2461;
  margin-right: 0.5em;
}

@keyframes fadeInMessage {
  from {height: 0vh}
  to {height: 20vh}
}
.messageFade {
  height: 0vh;
  display: flex;
  align-items: center;
  animation-name: fadeInMessage;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@media (min-width: 600px) {
  .menuButtonDiv {
    display: none;
  }

  .hiddenNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hiddenNavbar a {
    font-family: 'raleway';
    margin: 0.75em;
  }

  .revealedNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .revealedNavbar a {
    font-family: 'raleway';
    margin: 0.75em;
  }

  .mainHomeDiv {
    display: flex;
    flex: 1;
  }

  .homeScriptureDiv {
    flex: 1;
  }

  .homeScriptureQuote {
    max-width: 50vw;
  }

  .aboutMainBlurbDiv {
    padding: 1em;
    max-width: 60vw;
  }

  .aboutBlurbDiv {
    flex-direction: row;
    max-width: 80vw;
  }

  .screenshot {
    height: 60vh;
    width: auto;
    max-width: 100%;
  }

  .extraScreenshot {
    height: 60vh;
    width: auto;
    order: 2;
  }

  .supportForm {
    width: 50vw;
  }

  .supportFormInput {
    width: 50vw;
  }
}
