@font-face {
  font-family: 'raleway';
  src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'ebgaramond';
  src: url(fonts/EBGaramond-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #fff;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

textarea, input {
  outline: none;
}

.formGroup {
  position: relative;
  font-family: 'raleway';
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
}
.formGroup .animatedLabel {
  position: absolute;
  color: #555;
  top: 24px;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  font-size: 16px;
  opacity: 0.5;
  cursor: text;
  transition: 0.2s ease all;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.formGroup .animatedLabel:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  height: 2px;
  width: 10px;
  visibility: hidden;
  background-color:#0c2461;
  transition: 0.3s ease all;
}
.formGroup.notEmpty .animatedLabel {
  top: 0;
  font-size: 14px;
}
.formGroup .formControl {
  font-family: 'raleway';
  font-size: 16px;
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 0;
  border-width: 0 0 1px;
  border-bottom-color: rgba(0,0,0,0.25);
  height: auto;
  padding: 5px 0 7px;
}
.formGroup .formControl:focus {
  box-shadow: none;
  border-bottom-color: rgba(0,0,0,0.12);
}
.formGroup .formControl:focus ~ .animatedLabel {
  top: 0;
  opacity: 1;
  color: #0c2461;
  font-size: 14px;
}
.formGroup .formControl:focus ~ .animatedLabel:after {
  visibility: visible;
  width: 100%;
  left: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
}

::placeholder {
  font-family: 'raleway';
}

nav a {
  color: #000;
}

.menuButtonDiv {
  background-color: #fff;
  padding: 0.5em;
}

@keyframes rotateChevronRight {
  from {transform: rotate(90deg)}
  to {transform: rotate(0deg)}
}
.menuChevronRight {
  margin-left: 7px;
  transform: rotate(0deg);
  animation: rotateChevronRight 0.25s forwards;
}
@keyframes rotateChevronDown {
  from {transform: rotate(0deg)}
  to {transform: rotate(90deg)}
}
.menuChevronDown {
  margin-left: 7px;
  transform: rotate(90deg);
  animation: rotateChevronDown 0.25s forwards;
}

@keyframes revealNavbar {
  from {max-height: 0px; background-color: rgba(12, 36, 97, 0); padding: 0}
  to {max-height: 600px; background-color: rgba(12, 36, 97, 0.1); padding: 0.75em 0 0.75em 0}
}
.revealedNavbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  max-height: 600px;
  overflow-y: hidden;
  background-color: rgba(12, 36, 97, 0.1);
  animation: revealNavbar 0.3s forwards;
}
.revealedNavbar a {
  font-family: 'raleway';
  margin: 0.75em;
}
@keyframes hideNavbar {
  from {max-height: 600px; background-color: rgba(12, 36, 97, 0.1); padding: 0.75em 0 0.75em 0}
  to {max-height: 0px; background-color: rgba(12, 36, 97, 0); padding: 0}
}
.hiddenNavbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  max-height: 600px;
  overflow-y: hidden;
  background-color: rgba(12, 36, 97, 0.1);
  animation: hideNavbar 0.3s forwards;
}
.hiddenNavbar a {
  font-family: 'raleway';
  margin: 0.75em;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navIcon {
  display: none;
}

.navIconActive {
  display: none;
}

.navIconActiveHeart {
  display: none;
}

.homeBackgroundImage {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url(images/mountains-blue.jpg) no-repeat center center fixed;
  background-size: cover;
}
.aboutBackgroundImage {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url(images/mountains-purple.jpg) no-repeat center center fixed;
  background-size: cover;
}
.helpBackgroundImage {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url(images/mountains-purple.jpg) no-repeat center center fixed;
  background-size: cover;
}
.getInvolvedBackgroundImage {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url(images/mountains-blue.jpg) no-repeat center center fixed;
  background-size: cover;
}
.donorSignupBackgroundImage {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url(images/mountains.jpeg) no-repeat center center fixed;
  background-size: cover;
}
.thankYouBackgroundImage {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url(images/mountains.jpeg) no-repeat center center fixed;
  background-size: cover;
}
.loginPageBackgroundImage {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url(images/mountains-blue.jpg) no-repeat center center fixed;
  background-size: cover;
}
.myDonationsBackgroundImage {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: url(images/mountains-blue.jpg) no-repeat center center fixed;
  background-size: cover;
}

.mobileHeader {
  display: flex;
  justify-content: center;
  font-family: 'raleway';
  font-size: 30px;
  text-align: center;
  padding: 0.5em;
}

.mainHomeDiv {
  display: flex;
  flex-direction: column;
}

.homeScriptureDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.homeScriptureQuote {
  font-family: 'ebgaramond';
  color: #000;
  background-color: rgba(255, 255, 255, 1);
  padding: 1em;
  max-width: 90vw;
}

.privacyPolicyDiv {
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 95vw;
}

.aboutMainBlurbDiv {
  padding: 1em;
}

.aboutBlurbDiv {
  display: flex;
  flex-direction: column;
}

.aboutSubBlurbDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.aboutText {
  font-family: 'raleway';
  font-size: 16px;
  color: #000;
  background-color: #fff;
  padding: 2em;
}

.heightPercent100 {
  height: 100%;
}

.vh100 {
  height: 100vh;
}

.vh90 {
  height: 90vh;
}

.vh80 {
  height: 80vh;
}

.vh70 {
  height: 70vh;
}

.vh60 {
  height: 60vh;
}

.vh40 {
  height: 40vh;
}

.vh33 {
  height: 33vh;
}

.vh25 {
  height: 25vh;
}

.vh20 {
  height: 20vh;
}

.vh10 {
  height: 10vh;
}

.minHeightvh100 {
  min-height: 100vh;
}

.widthPercent100 {
  width: 100%;
}

.widthPercent65 {
  width: 65%;
}

.widthPercent50 {
  width: 50%;
}

.widthPercent35 {
  width: 35%;
}

.widthPercent33 {
  width: 33%;
}

.vw90 {
  width: 90vw;
}

.vw80 {
  width: 80vw;
}

.vw70 {
  width: 70vw;
}

.vw60 {
  width: 60vw;
}

.vw40 {
  width: 40vw;
}

.vw33 {
  width: 33vw;
}

.vw25 {
  width: 25vw;
}

.width170Pixels {
  width: 170px;
}

.displayFlex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}
.flexRow {
  flex-direction: row;
}

.flex1 {
  display: flex;
  flex: 1;
}

.flex2 {
  display: flex;
  flex: 2;
}

.flex3 {
  display: flex;
  flex: 3;
}

.flexAllCenter {
  justify-content: center;
  align-items: center;
}

.flexAlignStart {
  align-items: flex-start;
}

.flexAlignCenter {
  align-items: center;
}

.flexAlignEnd {
  align-items: flex-end;
}

.flexJustifyStart {
  justify-content: flex-start;
}

.flexJustifyCenter {
  justify-content: center;
}

.flexJustifyEnd {
  justify-content: flex-end;
}

.flexJustifyBetween {
  justify-content: space-between;
}

.alignSelfCenter {
  align-self: center;
}

.alignSelfEnd {
  align-self: flex-end;
}

.padding1em {
  padding: 1em;
}

.paddingHalfem {
  padding: 0.5em;
}

.paddingQuarterem {
  padding: 0.25em;
}

.paddingTop2em {
  padding-top: 2em;
}

.paddingBottom2em {
  padding-bottom: 2em;
}

.topMarginHalfem {
  margin-top: 0.5em;
}

.topMargin1em {
  margin-top: 1em;
}

.topMargin3em {
  margin-top: 3em;
}

.bottomMarginHalfem {
  margin-bottom: 0.5em;
}

.bottomMargin1em {
  margin-bottom: 1em;
}

.bottomMargin3em {
  margin-bottom: 3em;
}

.rightMarginHalfem {
  margin-right: 0.5em;
}

.leftMarginHalfem {
  margin-left: 0.5em;
}

.iconMarginBoth {
  margin-left: 5px;
  margin-right: 5px;
}
.iconMarginLeft {
  margin-left: 5px;
}
.iconMarginRight {
  margin-right: 5px;
}

.raleway {
  font-family: 'raleway';
}

.ebgaramond {
  font-family: 'ebgaramond';
}

.textOpacityPadding {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em;
}

.font100 {
  font-size: 100px;
}

.font36 {
  font-size: 36px;
}

.font30 {
  font-size: 30px;
}

.font26 {
  font-size: 26px;
}

.font24 {
  font-size: 24px;
}

.font20 {
  font-size: 20px;
}

.font18 {
  font-size: 18px;
}

.font16 {
  font-size: 16px;
}

.font14 {
  font-size: 14px;
}

.font12 {
  font-size: 12px;
}

.font10 {
  font-size: 10px;
}

.centerText {
  text-align: center;
}

.rightText {
  text-align: right;
}

.whiteText {
  color: #fff;
}

.blackText {
  color: #000;
}

.blueText {
  color: #0c2461;
}

.greyText {
  color: #555;
}

.greenText {
  color: green;
}

.redText {
  color: red;
}

.pinkText {
  color: #FF4081;
}

.transparentWhiteBackground {
  background-color: rgba(255, 255, 255, 0.75)
}

.blueBottomBorder {
  border-bottom: 1px #0c2461 solid;
}

.screenshot {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.extraScreenshot {
  height: auto;
  width: 100%;
  max-width: 100%;
  order: -1;
}

.supportForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
.supportFormInput {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5em;
  font-family: 'raleway';
  margin-bottom: 1em;
  width: 90vw;
  border: none;
}
.supportFormButton {
  width: 60%;
  font-size: 16px;
  font-family: 'raleway';
  padding: 0.5em;
  border-radius: 0.25em;
  background-color: #fff;
  color: #0c2461;
  margin-bottom: 1em;
  border: none;
  outline: none;
  cursor: pointer;
}

.getInvolvedHeaderDiv {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.getInvolvedHeader {
  font-family: 'raleway';
  font-size: 30px;
  text-align: center;
  margin-bottom: 1em;
}
.getInvolvedHeaderQuote {
  font-family: 'ebgaramond';
  font-size: 20px;
  text-align: center;
}
.getInvolvedSubHeaderBackground {
  display: flex;
  height: 500px;
  background: url(images/mountains-white.jpg) no-repeat center center;
  background-size: cover;
}
.getInvolvedSubHeaderDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
  padding: 1em;
}
.getInvolvedSubHeaderTitle {
  display: flex;
  font-family: 'raleway';
  font-size: 26px;
  color: #000;
}
.getInvolvedSubHeaderBody {
  font-family: 'raleway';
  font-size: 20px;
  color: #000;
  margin: 1em 0;
}
.getInvolvedSubHeaderLink {
  font-family: 'raleway';
  font-size: 14px;
  color: #000;
  padding: 7px 0;
}
.getInvolvedAngelInvestorDiv {
  display: flex;
  flex-direction: column;
  height: 500px;
  background: url(images/mountains-black.jpg) no-repeat center center;
  background-size: cover;
  padding: 1em;
}
.getInvolvedAngelInvestorTitle {
  font-family: 'raleway';
  font-size: 30px;
  margin-bottom: 1em;
}
.getInvolvedAngelInvestorBody {
  font-family: 'raleway';
  font-size: 14px;
}
.getInvolvedWhiteLink {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  font-family: 'raleway';
  font-size: 14px;
  color: #000;
  background-color: #fff;
  padding: 7px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.getInvolvedMissionaryDiv {
  display: flex;
  flex-direction: column;
  height: 500px;
  background: url(images/mountains-pink.jpg) no-repeat center center;
  background-size: cover;
  padding: 1em;
}
.getInvolvedMissionaryTitle {
  font-family: 'raleway';
  font-size: 30px;
  margin-bottom: 1em;
}
.getInvolvedMissionaryBody {
  font-family: 'raleway';
  font-size: 14px;
}
.getInvolvedBlogDiv {
  display: flex;
  flex-direction: column;
  height: 500px;
  background: url(images/mountains-iceblue.jpg) no-repeat center center;
  background-size: cover;
  padding: 1em;
}
.getInvolvedBlogTitle {
  font-family: 'raleway';
  font-size: 30px;
  margin-bottom: 1em;
}
.getInvolvedBlogBody {
  font-family: 'raleway';
  font-size: 14px;
}
.getInvolvedBlogDiv {
  display: flex;
  flex-direction: column;
  height: 500px;
  background: url(images/mountains-navy.jpg) no-repeat center center;
  background-size: cover;
  padding: 1em;
}
.getInvolvedBlogTitle {
  font-family: 'raleway';
  font-size: 30px;
  margin-bottom: 1em;
}
.getInvolvedBlogBody {
  font-family: 'raleway';
  font-size: 14px;
}
.getInvolvedClosingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 1em;
}
.getInvolvedClosingQuote {
  font-family: 'ebgaramond';
  font-size: 20px;
  text-align: center;
}

.selectAmountDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}

.stripeForm {
  background-color: rgba(255, 255, 255, 1);
  padding: 1em;
}
.stripeFormSectionHeader {
  font-family: 'raleway';
  font-size: 18px;
  color: #000;
  padding-bottom: 16px;
}
.stripeFormButton {
  color: #0c2461;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: #fff;
  font-family: 'raleway';
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.radioButtonDiv {
  display: flex;
}

@keyframes revealCustomAmountDiv {
  from {max-height: 0px; margin: 0}
  to {max-height: 50px; margin: 0.5em}
}
.revealedCustomAmountDiv {
  margin: 0.5em;
  height: auto;
  max-height: 0px;
  overflow-y: hidden;
  animation: revealCustomAmountDiv 0.3s forwards;
}
@keyframes hideCustomAmountDiv {
  from {max-height: 50px; margin: 0.5em}
  to {max-height: 0px; margin: 0em}
}
.hiddenCustomAmountDiv {
  height: auto;
  max-height: 50px;
  overflow-y: hidden;
  animation: hideCustomAmountDiv 0.3s forwards;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'raleway';
  font-size: 16px;
  color: #000;
  padding: 0.5em;
}
input[type="radio"] + label.font12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'raleway';
  font-size: 12px;
  color: #000;
  padding: 0.5em;
}

input[type="radio"] + label span {
  display: flex;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: #ccc;
  margin-right: 0.5em;
}

@keyframes fadeInRadioButton {
  from {background-color: #ccc}
  to {background-color: #0c2461}
}
input[type="radio"]:checked + label span {
  display: flex;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: #0c2461;
  margin-right: 0.5em;
  animation-name: fadeInRadioButton;
  animation-duration: 0.3s;
}

.donateInputLine {
  font-family: 'raleway';
  font-size: 14px;
  color: #000;
  padding: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px #0c2461 solid;
  background-color: transparent;
}

.whatAboutOneTime {
  font-family: 'raleway';
  font-size: 12px;
  color: #555;
  padding: 8px;
}

@keyframes showOneTimeDonationDiv {
  from {max-height: 0; margin: 0px}
  to {max-height: 150px; margin: 8px}
}
.showOneTimeDonationDiv {
  height: auto;
  max-height: 0;
  overflow-y: hidden;
  animation: showOneTimeDonationDiv 0.3s forwards;
}
@keyframes hideOneTimeDonationDiv {
  from {max-height: 150px; margin: 8px}
  to {max-height: 0; margin: 0px}
}
.hideOneTimeDonationDiv {
  height: auto;
  max-height: 0;
  overflow-y: hidden;
  animation: hideOneTimeDonationDiv 0.3s forwards;
}

.oneTimeDonationBlurb {
  font-family: 'raleway';
  font-size: 12px;
  color: #555;
}

#OneTimeLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'raleway';
  font-size: 12px;
  color: #000;
  padding: 8px 0px;
}

@keyframes revealOneTimeCustomAmountDiv {
  from {max-height: 0px; margin-top: 0}
  to {max-height: 50px; margin-top: 0.5em}
}
.revealedOneTimeCustomAmountDiv {
  margin-top: 0.5em;
  height: auto;
  max-height: 0px;
  overflow-y: hidden;
  animation: revealOneTimeCustomAmountDiv 0.3s forwards;
}
@keyframes hideOneTimeCustomAmountDiv {
  from {max-height: 50px; margin-top: 0.5em}
  to {max-height: 0px; margin-top: 0em}
}
.hiddenOneTimeCustomAmountDiv {
  height: auto;
  max-height: 50px;
  overflow-y: hidden;
  animation: hideOneTimeCustomAmountDiv 0.3s forwards;
}

.oneTimeAmount {
  font-family: 'raleway';
  font-size: 12px;
  color: #000;
  padding: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px #0c2461 solid;
  background-color: transparent;
}

@keyframes revealEmailMessageDiv {
  from {max-height: 0px; margin: 0}
  to {max-height: 200px; margin: 0.5em 0}
}
.revealedEmailMessageDiv {
  margin: 0.5em 0;
  height: auto;
  max-height: 0px;
  overflow-y: hidden;
  animation: revealEmailMessageDiv 0.3s forwards;
}
@keyframes hideEmailMessageDiv {
  from {max-height: 200px; margin: 0.5em 0}
  to {max-height: 0px; margin: 0em}
}
.hiddenEmailMessageDiv {
  height: auto;
  max-height: 200px;
  overflow-y: hidden;
  animation: hideEmailMessageDiv 0.3s forwards;
}

.paymentInfoDiv {
  display: flex;
  flex-direction: column;
}

.lineItemDiv {
  display: flex;
  flex-direction: column;
}

.stripeCardElementDiv {
  padding-top: 20px;
  margin-bottom: 54px;
}
.stripeCardElement {
  padding: 5px 0 7px;
  border-bottom: 1px rgba(0,0,0,0.25) solid;
}

.reviewDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.thankYouPageButton {
  font-size: 14px;
  font-family: 'raleway';
  padding: 0.5em;
  border-radius: 0.25em;
  background-color: #fff;
  color: #000;
  min-width: 80vw;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 350px;
  padding: 2em;
  background-color: #fff;
  font-family: 'raleway';
}
.loginFormTitle {
  font-size: 24px;
  text-align: center;
  color: #000;
}
.loginFormButton {
  color: #0c2461;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: #fff;
  font-family: 'raleway';
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}
.loginFormButton:disabled {
  cursor: default;
}

.redirectMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.redirectMessageHidden {
  display: none;
}

.donationContainerDiv {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0.5em;
}

.donationPlanDiv {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5em;
  color: #000;
  font-family: 'raleway';
}
.donationPlanDetail {
  display: flex;
  margin-bottom: 40px;
}
.supportHeart {
  color: #FF4081;
  margin-left: 7px;
}

.supportPlanHeader {
  font-family: 'raleway';
  font-size: 14px;
  padding: 0 0 0.5em 0;
  border-bottom: 1px #000 solid;
}
.supportPlanSubHeader {
  font-family: 'raleway';
  font-size: 12px;
  padding: 8px 0 12px;
}

.supportPlanDonateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0c2461;
  border: none;
  outline: none;
  background-color: transparent;
  margin-bottom: 40px;
  cursor: pointer;
}
.supportPlanOptionsButton {
  color: #0c2461;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: #fff;
  font-family: 'raleway';
  font-size: 12px;
  margin: 10px 0 0 0;
  cursor: pointer;
}
.supportPlanButton {
  width: 100%;
  padding: 7px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.supportPlanUpdateButton {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  outline: none;
}
.supportPlanCancelButton {
  width: 100%;
  padding: 10px 10px 5px 10px;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  outline: none;
}

.emojiSpan {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emojiSpan.justifyStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@keyframes revealSupportPlanDiv {
  from {max-height: 0px; margin: 0 0}
  to {max-height: 150px; margin: 0.25em 0}
}
.revealedSupportPlanDiv {
  margin: 0.25em 0;
  padding-top: 0.5em;
  height: auto;
  max-height: 0px;
  overflow-y: hidden;
  animation: revealSupportPlanDiv 0.3s forwards;
}
@keyframes hideSupportPlanDiv {
  from {max-height: 150px; margin: 0.25em 0}
  to {max-height: 0px; margin: 0 0}
}
.hiddenSupportPlanDiv {
  height: auto;
  max-height: 150px;
  overflow-y: hidden;
  animation: hideSupportPlanDiv 0.3s forwards;
}

.cupOfJoeDiv {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5em;
  color: #000;
  font-family: 'raleway';
}

@keyframes fadeInAndOut {
  0% {opacity: 0}
  25% {opacity: 1}
  75% {opacity: 1}
  100% {opacity: 0}
}
.fadeInAndOut {
  opacity: 0;
  animation: fadeInAndOut 5s forwards;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
.fadeIn {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.historyShowButton {
  margin-top: 1em;
  margin-bottom: 3em;
  color: #fff;
  font-family: 'raleway';
  background-color: transparent;
  border: none;
  outline: none;
}

.logoutButton {
  width: 50%;
  padding: 7px;
  background-color: #fff;
  font-family: 'raleway';
  font-size: 14px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

@media (min-width: 600px) {
  nav {
    background-color: #fff;
  }

  .menuButtonDiv {
    display: none;
  }

  .hiddenNavbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: auto;
    height: auto;
    animation: none;
    max-width: 950px;
  }
  .hiddenNavbar a {
    font-family: 'raleway';
    margin: 0.75em;
  }

  .navLink {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    color: #000;
  }

  .navLinkActive {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    color: rgba(69, 119, 238, 1);
  }

  .navLinkActiveHeart {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    color: #FF4081;
  }

  .navIcon {
    display: flex;
    font-size: 30px;
  }

  .navLinkText {
    font-family: 'raleway';
    font-size: 10px;
    color: #000;
  }

  .mobileHeader {
    display: none;
  }

  .mainHomeDiv {
    display: flex;
    flex: 1;
  }

  .homeScriptureDiv {
    flex: 1;
  }

  .homeScriptureQuote {
    max-width: 50vw;
  }

  .privacyPolicyDiv {
    max-width: 50vw;
  }

  .aboutMainBlurbDiv {
    padding: 1em;
    max-width: 60vw;
  }

  .aboutBlurbDiv {
    flex-direction: row;
    max-width: 80vw;
  }

  .screenshot {
    height: 60vh;
    width: auto;
    max-width: 100%;
  }

  .extraScreenshot {
    height: 60vh;
    width: auto;
    order: 2;
  }

  .supportForm {
    width: 40vw;
  }
  .supportFormInput {
    width: 40vw;
  }
  .supportFormButton {
    max-width: 40%;
  }

  .getInvolvedHeaderDiv {
    display: flex;
    flex-direction: column;
    height: 550px;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  .getInvolvedHeader {
    font-family: 'raleway';
    font-size: 45px;
    text-align: center;
  }
  .getInvolvedHeaderQuote {
    font-family: 'ebgaramond';
    font-size: 20px;
    text-align: center;
    max-width: 50%;
  }
  .getInvolvedSubHeaderBackground {
    display: flex;
    height: 550px;
    background: url(images/mountains-white.jpg) no-repeat center center;
    background-size: cover;
  }
  .getInvolvedSubHeaderDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    padding: 40px;
  }
  .getInvolvedSubHeaderTitle {
    display: flex;
    align-self: flex-start;
    font-family: 'raleway';
    font-size: 40px;
    color: #000;
  }
  .getInvolvedSubHeaderBody {
    font-family: 'raleway';
    font-size: 20px;
    color: #000;
    width: 50%;
    margin: 1em 0;
  }
  .getInvolvedSubHeaderLink {
    font-family: 'raleway';
    font-size: 14px;
    color: #000;
    padding: 7px 0;
  }
  .getInvolvedAngelInvestorDiv {
    display: flex;
    flex-direction: row;
    height: 550px;
    background: url(images/mountains-black.jpg) no-repeat center center;
    background-size: cover;
    padding: 40px;
  }
  .getInvolvedAngelInvestorTitle {
    font-family: 'raleway';
    font-size: 40px;
    margin-bottom: 1em;
  }
  .getInvolvedAngelInvestorBody {
    font-family: 'raleway';
    font-size: 20px;
  }
  .getInvolvedWhiteLink {
    display: flex;
    justify-content: space-between;
    font-family: 'raleway';
    font-size: 14px;
    color: #000;
    background-color: #fff;
    padding: 7px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  .getInvolvedMissionaryDiv {
    display: flex;
    flex-direction: row;
    height: 550px;
    background: url(images/mountains-pink.jpg) no-repeat center center;
    background-size: cover;
    padding: 40px;
  }
  .getInvolvedMissionaryTitle {
    font-family: 'raleway';
    font-size: 40px;
    margin-bottom: 1em;
  }
  .getInvolvedMissionaryBody {
    font-family: 'raleway';
    font-size: 20px;
  }
  .getInvolvedBlogDiv {
    display: flex;
    flex-direction: row;
    height: 550px;
    background: url(images/mountains-iceblue.jpg) no-repeat center center;
    background-size: cover;
    padding: 40px;
  }
  .getInvolvedBlogTitle {
    font-family: 'raleway';
    font-size: 40px;
    margin-bottom: 1em;
  }
  .getInvolvedBlogBody {
    font-family: 'raleway';
    font-size: 20px;
  }
  .getInvolvedProposeDiv {
    display: flex;
    flex-direction: row;
    height: 550px;
    background: url(images/mountains-navy.jpg) no-repeat center center;
    background-size: cover;
    padding: 40px;
  }
  .getInvolvedProposeTitle {
    font-family: 'raleway';
    font-size: 40px;
    margin-bottom: 1em;
  }
  .getInvolvedProposeBody {
    font-family: 'raleway';
    font-size: 20px;
  }
  .getInvolvedClosingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    padding: 1em;
  }
  .getInvolvedClosingQuote {
    font-family: 'ebgaramond';
    font-size: 20px;
    text-align: center;
    max-width: 50%;
  }

  .stripeForm {
    max-width: 40vw;
    margin-top: 2em;
  }

  .thankYouPageButton {
    min-width: 270px;
    max-width: 350px;
  }

  .donationContainerDiv {
    max-width: 40vw;
    align-self: center;
  }
  .donationPlanHeader {
    margin-top: 1em;
  }
}
